*{
    margin: 0;
    padding: 0;
}
html{
    
    background:linear-gradient( rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.562)), url("/Untitled\ design\ \(1\).png"), no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    color: white;

}
nav{
    height: 100%;
    width: 15%;
    background-color:#0B360F;
    font-family: Arial;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
}
nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
nav li{
    
    padding: 1rem;
    height: 100%;
    width: 80%;
}
nav a{
    display: flex;
    text-align: center;
    color: inherit;
    text-decoration: none;
    font-size: 25px;
    height: 100%;
    letter-spacing: 3px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
nav p{
    font-size: 15px;
    margin-top: -15px;
}
nav li.active{
    color: #A2B92F;
    text-decoration: dashed;
    border-bottom:solid 3px;
}
nav li:last-child{
    color:red;
}
nav img{
    height: 80px;
}
nav h1 {
    font-size: 20px;
    
}
#logo{
    margin-top: -10px;
}
nav li:hover{
    background-color: rgba(128, 128, 128, 0.219);
}

/* Menu Container */
.container{
    display: flex;
    width: 100%;
    padding: 40px;
    flex-direction: column;
}
.title{
   
}
/* Menu child Navigation */
.menu-nav{
    display: flex;
}
.menu-nav ul{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    list-style: none;background-color: rgba(255, 255, 255, 0.199);
    border: solid 1px rgba(255, 255, 255, 0.555);

}
.menu-nav li{
width: 100%;
text-align: center;
padding: 5px;
}
.menu-nav a{
    color: inherit;
    font-size: 25px;
    text-decoration: none;
}
.menu-nav li.active{
    background-color: #ffffff3b;
    color: #A2B92F;
    text-decoration: dashed;
    border-bottom:solid 5px;
}

main{

}